@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Well Come to your Profile</h1>
    <p class="lead">I am Rohit Karbari Working as assoiciate software engineer in Gyansys infotec</p>
    <p>Currently Trainee in ASP.Net MVC frame work</p>

</div>