
@{
    ViewBag.Title = "BasicDetails";
}


<h2>BasicDetails</h2>
<div class="main">
    <button type="button" class="demo" onClick="Education()">Education</button>
    <br /><br />
    <button type="button"class="demo" onClick="Qualification()">Qualification</button><br />
    <br />
    <button type="button"class="demo" onClick="Skills()">Skills</button><br />
    <br />
    <button class="demo" onClick="Hobbies()">Hobbies</button><br />
    <br />
</div>

